.flat-div{
    width: 160px;
    height: 100px;
    color: #123D6A;
    font-weight: bold;
    display: grid;
    font-size: 13px;
    margin-bottom: 130px;
    
}
.flat-img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}
.flat-title{
    cursor: pointer;
    margin-top: 2px;
    text-align: center;
}
.flat-address{
    margin-top: 2px;
    text-align: left;
}
.flat-price{
    margin-top: 5px;
    text-align: left;
}