.apartment-div{
    width: 100%;
    min-height: 100vh;
    background-color: #FAF4F0;
    color: #123D6A;
}
.apartment-container{
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
.apartment-left{
    margin-top: 10px;
    margin-left: 30px;
    width: 100%;
    height: 100%;
}
.apartment-right{
    margin-left: 80px;
    display: grid;
    width: 100%;
    height: 100%;

}
.apratment-h3{
    font-size: 24px;
    font-weight: bold;
    
}
.apartment-desc{
    font-size: 15px;
    line-height: 25px;
}
.apartment-specification{
    font-weight: bold;
    opacity: 0.6;
}
.apartment-price{
    color: #AB3B61;
    font-size: 34px;
    font-weight: bold;
}
.perNight-span{
    color:#AB3B61;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    opacity: 0.7;
}
.date-wrapper{
    margin-top: 10px;
    width: 100%;

}
.apartment-date{
   
    width: 200px;
    height: 36px;
}
.select-people{
    
    width: 200px;
    margin-left: 10px;
    text-decoration: none;
}
.book-now-btn{
    height: 44px;
    margin-top: 20px;
    width: 410px;
    border: none;
    border-radius: 5px;
    background-color: #AB3B61;
    color: #fff;
    font-size: 24px;
    
}