.home-container{
    width: 100%;
    height: 100vh;
    background-color: #FAF4F0;
}
.home-content{
    margin-top: 106px;
    display: flex;
    margin-left: 11px;
   
}
.map-container{
    margin-left: 65px;
    
}
.leaflet-map{
 
 height: 471px;
 width: 732px;
}
.flat-container{
  margin-left: 20px;
    width: 620px;
    min-height: 30rem;
    overflow: hidden;
    direction: rtl;
    margin-right: 40px;
}
.flatwrapper{
  display: grid;
  grid-template-columns: 200px 200px 200px;
    overflow: scroll;
    width: 100%;
    height: 470px;
  
    scrollbar-width: auto;
    scrollbar-color: #edc8b8 #f9eee8;
  
overflow-x: hidden;

    
}
.flatwrapper::-webkit-scrollbar {
    width: 10px;
  }

  .flatwrapper::-webkit-scrollbar-track {
    background: #edc8b8;
  }

  .flatwrapper::-webkit-scrollbar-thumb {
    background-color: #f9eee8;
    border-radius: 15px;
    border: 5px solid #f9eee8;
  }